/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.pane
{
    -fx-background-color: #1e88e5;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:120px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane
{
    -fx-background-color: #000;

}

.tab-pane .tab:selected
{
    -fx-background-color: #000;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.recherche{
    -fx-background-color:#ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}
.detail{
    -fx-text-fill: #1976d2;
    -fx-background-color:#ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
}
.textd{
    -fx-text-fill: #37474f;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.jfx-tab-pane .tab-header-background
{
    -fx-background-color: #1e88e5;
}
.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: #fff;
}
.jfx-text-field {
    -fx-prompt-text-fill: #989898;
    -fx-text-inner-color: #0d47a1;
}
.jfx-combo-box {
    -fx-background-color:  #ffffff;
    -fx-prompt-text-fill: #989898;
    -fx-font-size: 16px;
    -fx-text-fill: #1e88e5;
    -fx-padding: 0 0 0 20;
}
.jfx-combo-box > .list-cell > .text,
.jfx-combo-box > .list-cell > .label{
	-fx-text-fill:#0d47a1;
	-fx-fill: #0d47a1;
}

.jfx-combo-box .label {
    -fx-background-color:  WHITE;
    -fx-text-fill: RED;
}
#anchorPane { 

}
#stackPane {


    /* didn't work */
    -fx-hgap: 100%;
    -fx-vgap: 100%;
}
